<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-openvpn" version="1.0.0">
  <name>OpenVPN</name>
  <description>OpenVPN service for Android</description>
  <license>Apache 2.0</license>
  <keywords>cordova,openvpn</keywords>

  <engines>
    <engine name="cordova-android" version=">=4.0.0-dev" />
  </engines>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="OpenVPN">
        <param name="android-package" value="org.apache.cordova.openvpn.OpenVPN" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <source-file src="src/android/OpenVPN.java" target-dir="src/org/apache/cordova/openvpn" />
    <framework src="src/android/build.gradle" custom="true" type="gradleReference" />

    <resource-file src="libs/openvpnlib.aar" target="libs/openvpnlib.aar" />

    <js-module src="openvpn.js" name="openvpn">
      <clobbers target="openvpn" />
    </js-module>
  </platform>
</plugin>
