<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-oauthredirect" version="1.0.0">
  <name>OAuthRedirect</name>
  <description>Captures an oAuth Token and redirects back to app</description>
  <license>Apache 2.0</license>
  <keywords>cordova,oauth</keywords>

  <engines>
    <engine name="cordova-android" version=">=4.0.0-dev" />
  </engines>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="OAuthRedirect">
        <param name="android-package" value="org.apache.cordova.oauthredirect.OAuthRedirect" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <source-file src="src/android/OAuthRedirect.java" target-dir="src/org/apache/cordova/oauthredirect" />

    <js-module src="oauthredirect.js" name="oauthredirect">
      <clobbers target="oauthredirect" />
    </js-module>
  </platform>
</plugin>
